* {
    margin: 0;
    padding: 0;
}

:root {
    --gradient-color-circle: linear-gradient(to bottom, #c1fbdc, #afbfdd); /*c1fbdc, bfe0d9*/
    --gradient-color-circle-center: linear-gradient(to top, #af130d, #b11e31); /*#e8ebea */
    --text-color: #eed6bb;/*#af130d, #bb676a, #eed6bb*/
    --background-color-bottom: linear-gradient(to top, #517985, #9898b1);
    --background-color-top: linear-gradient(to bottom, #517985, #9898b1);

}

h1 {
    color: var(--text-color);
    font-family: 'Dancing Script', cursive;
    font-weight: 700;

    font-size: 3rem;

}

main {
    max-height: fit-content;
    overflow: hidden;
    height: 100vh;
}

nav {
    margin: 1% 0 0 90%;
}

nav span {
    background: var(--gradient-color-circle-center);
    border-radius: 50%;
    color: var(--text-color);
    padding: 5%;
    margin: 5% 0;
}

span:hover {
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    height: inherit;
}

.flex-top {
    background-color: red;
    background: var(--background-color-top);
    height: 60%;
    width: 100%;

    position: relative;
}

.flex-bottom {
    background: var(--background-color-bottom);
    height: 40%;
    width: 100%;
    position: relative;

    display: flex;
    justify-content: center;
}

.circle {
    background-color: blue;
    background: var(--gradient-color-circle-center);
    position: absolute;
    bottom: -20%;
    width: 100%;
    height: inherit;
    min-height: 80%;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;

    z-index: 3;
    max-width: 650px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    padding: 0 2rem;
}

.flex-bottom::after, .flex-bottom::before {
    content: "";
    background: var(--gradient-color-circle);
    position: absolute;
    bottom: 0;
    height: inherit;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    box-shadow: inset 2px 2px 35px 2px #dcece8, inset 4px 20px 45px 2px #fff;
}

.flex-bottom::before {
    left: -20%;
    width: 80%;
    min-height: 95%;

    width: 100%;
}

.flex-bottom::after {
    right: -40%;
    width: 100%;
    min-height: 75%;
    z-index: 0;

    box-shadow: inset 2px 2px 35px 2px #dcece8, inset 4px 20px 45px 2px #fff, -12px 10px 12px 2px grey;
}


@media only screen and (width > 700px) {
    .flex-bottom::before {
        min-height: 100%;
        background-color: #fff;
    }
}


.flex-top .snow-divs div {
    animation: animate-snow 5s linear infinite;
}


@keyframes animate-snow {

    100% {
      opacity: 0.1;
      transform: scale(0.1);
      top: 100%;  
    }
}


.star-moon {
    position: relative;
}

.star-moon::before {
    content: "";
    width: 5rem;
    height: 5rem;
    background-color: #e8ebea; /*e8ebea*/
    border-radius: 50%;
    position: absolute;
    right: 0;
    top:0;
    box-shadow: 0 0 40px 2px #fff;
    
    /* for furture update */
    /* animation: star-moon-animation 86400s linear infinite; */
}

/* for furture update */
/* @keyframes star-moon-animation {
    100% {
        right: 100%;
    }
} */